 
<h1 mat-dialog-title>{{data ? 'Actualizar Persona': 'Registro Persona'}} 
<mat-icon>people</mat-icon>    
</h1>
<form [formGroup]="form" (ngSubmit)="onFormSubmit()">


    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>ID</mat-label>
                <input matInput type="text" placeholder="__" formControlName="id"    readonly>
            </mat-form-field>
         
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Carlos Perez" formControlName="nombre">
            </mat-form-field>
        </div>
        <div class="row">

            <mat-form-field appearance="outline">
                <mat-label>Dirección</mat-label>
                <input matInput type="text" placeholder="Cra xx No.11" formControlName="direccion">
            </mat-form-field>
        </div>

        <div class="row">

            <mat-form-field appearance="outline">
                <mat-label>Teléfono</mat-label>
                <input matInput type="text" placeholder="123456" formControlName="telefono">
            </mat-form-field>
        </div>

        <!-- <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field> -->

</div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Actualizar': 'Guardar'}}</button> 
    </div>
</form>