 
<!-- <p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Aplicacion CRUD</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>star</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="OnLogin()">
        <mat-icon>key</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  <p> -->
  <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>people</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Registrar Pacientes</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Consultar</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Reportes</span>
    </button>

  </mat-menu> -->
  <!-- <button mat-fab extended>
    <mat-icon>people</mat-icon>
    Personas
  </button> -->

<!-- </p>   -->


<mat-sidenav-container class="container" >

    <!-- side-nav -->
  
    <mat-sidenav mode="side" opened class="sidenav">
  
      <mat-toolbar class="toolbar">CRUD</mat-toolbar>
  
      <!-- Elements list menu -->
  
      <mat-list>
  
      <mat-list-item *ngFor="let item of links"> 
       
        
            <!-- <a matLine [routerLink]="item.url">{{ item.name }}</a>   -->
             <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="OnNavega(item.key)">
                <mat-icon class="logo">{{item.key}}</mat-icon>
              </button> 

  
        </mat-list-item> 
  
      </mat-list>
  
    </mat-sidenav>
  
    <!-- side-nav-content -->
  
    <mat-sidenav-content>
  
      <mat-toolbar class="toolbar">
  
        <mat-toolbar-row>
  
           
    
  
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Angular Aplicacion</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="OnNavega('')">
          <mat-icon>key</mat-icon>
        </button>
     
      
    </mat-toolbar-row>
</mat-toolbar >
     
      <!-- <div class="image" style="height: 90vh;width:93.3vw;" [ngStyle]="{'background': 'url(../../assets/back.jpg)' ,'background-size':'cover'}">
       </div>
  -->

    </mat-sidenav-content>
  
  </mat-sidenav-container>

 
   